// Red Theme
.ios body.red {
  --ion-background-color: #ff0000;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #f87e7e;

  --ion-color-step-50: #d68282;
  --ion-color-step-100: #d3aaaa;
  --ion-color-step-150: #ca8383;
  --ion-color-step-200: #e4a8a8;
  --ion-color-step-250: #e0a1a1;
  --ion-color-step-300: #d8a2a2;
  --ion-color-step-350: #dda4a4;
  --ion-color-step-400: #e7adad;
  --ion-color-step-450: #9c7e7e;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: rgb(207, 131, 131);
}

/*
  * Material Design Dark Theme
  * -------------------------------------------
  */

.md body.red {
  --ion-background-color: #ff0000;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #f87e7e;

  --ion-color-step-50: #d68282;
  --ion-color-step-100: #d3aaaa;
  --ion-color-step-150: #ca8383;
  --ion-color-step-200: #e4a8a8;
  --ion-color-step-250: #e0a1a1;
  --ion-color-step-300: #d8a2a2;
  --ion-color-step-350: #dda4a4;
  --ion-color-step-400: #e7adad;
  --ion-color-step-450: #9c7e7e;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: rgb(207, 131, 131);
}
// End Red Theme

// Black Theme
body.black {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #1c1c1c;
  --ion-item-background-activated: #313131;
}
/*
* Material Design Dark Theme
* -------------------------------------------
*/

.md body.black {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1a1b1e;
}
// End Black Theme

// Font Family
body.font-size-10 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 10px;
  }
}
body.font-size-11 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 11px;
  }
}
body.font-size-12 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 12px;
  }
}
body.font-size-13 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 13px;
  }
}
body.font-size-14 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 14px;
  }
}
body.font-size-15 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 15px;
  }
}
body.font-size-16 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 16px;
  }
}
body.font-size-17 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 17px;
  }
}
body.font-size-18 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 18px;
  }
}
body.font-size-19 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 19px;
  }
}
body.font-size-20 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 20px;
  }
}
body.font-size-22 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 22px;
  }
}
body.font-size-23 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 23px;
  }
}
body.font-size-24 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 24px;
  }
}
body.font-size-25 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 25px;
  }
}
body.font-size-26 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 26px;
  }
}
body.font-size-27 {
  ion-title.large-title,
  ion-title,
  ion-label,
  ion-input,
  ion-item,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    font-size: 27px;
  }
}
